body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1200px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:1200px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:36px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:1200px;
  height:112px;
  font-size:15px;
  line-height:36px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:242px;
  width:1200px;
  height:1120px;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  line-height:20px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:120px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:260px;
  height:60px;
  line-height:20px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:260px;
  height:60px;
  line-height:20px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:260px;
  height:60px;
  line-height:20px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:0px;
  width:260px;
  height:60px;
  line-height:20px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:220px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:240px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:240px;
  line-height:20px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:110px;
  width:120px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:60px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:220px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:60px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:220px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:60px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:220px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:60px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:260px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:160px;
  height:260px;
  line-height:20px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:120px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:300px;
  width:260px;
  height:260px;
  text-align:left;
  line-height:20px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:220px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:300px;
  width:260px;
  height:260px;
  text-align:left;
  line-height:20px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:300px;
  width:260px;
  height:260px;
  text-align:left;
  line-height:20px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:220px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:300px;
  width:260px;
  height:260px;
  text-align:left;
  line-height:20px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:110px;
  width:220px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:160px;
  height:160px;
  line-height:20px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:560px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:220px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:560px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:220px;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:560px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:560px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:160px;
  height:160px;
  line-height:20px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:120px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:720px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:220px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:720px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:720px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:220px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:720px;
  width:260px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:240px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:880px;
  width:160px;
  height:240px;
  line-height:20px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:110px;
  width:120px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:880px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:220px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:880px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:880px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:240px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:880px;
  width:260px;
  height:240px;
  text-align:left;
  line-height:20px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:61px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:242px;
  width:281px;
  height:61px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:277px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:61px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:242px;
  width:281px;
  height:61px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:277px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:61px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:242px;
  width:281px;
  height:61px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:277px;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1362px;
  width:100px;
  height:100px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
